
#kittens{

	height: 1000px;
	background-size: cover;
	background-image: url(../img/dawn.png), url(../img/night.jpg), url(../img/sunny-day.jpg);
	background-position: center center;
	padding-top: 700px;
	text-align: center;
}

img{
	background-image: cover;
} 


